## I did not upload my actual MongoDB password.

Please Create this for evaluator:

backend/.env.example
PORT=5000
MONGO_URI=your_mongodb_connection_string

## Suggesting evaluator to do this:

cp .env.example .env
